.headerMainDiv{
  background-color: #111111;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  height: 65px;
}

.headerTitle{
  color: rgb(255, 255, 255);
  margin-left: 1rem;
  font-size: 40px;
  text-decoration: none;
  margin-bottom: 4px;
}
.headerTitle:hover{
  color: rgb(255, 255, 255);
}



.callingCardMainDiv{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 60px;
  width: 100%;
  height: 800px;
}
.callingCardImage{
  max-width: 300px;
}


.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
